services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wallet_db
    ports:
      - "5433:5432"
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
